* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generiche */
body {
    font-size: 14px;
    font-family: 'Commissioner', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* da cancellare */
.prova {
    width: 200px;
    height: 170px;
    background-color: white;
}
/* da cancellare */
/* fine generiche */

/* Inizio Impostazioni Header */
/* impostazioi header generiche */
header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner_images);
    background-size: cover;
    background-repeat: no-repeat;
}
/* fine generiche */

/* Inizio impostazioni header_menu */
/* generiche header_menu */
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}
/* fine generiche */

/* impostazioni logo */
.logo {
    color: white;
    font-size: 18px;
}
/* fine impostazioni logo */

/* impostazioni menu */
.menu ul {
    list-style: none;
    color: white;
}

.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: white;
}
/* fine impostazioni menu */
/* fine impostazioni header_menu */

/* inizio impostazioni Header_content */
.header_content {
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_content h1 {
    font-size: 100px;
    color: #f9255b;
}

.header_content h4 {
    font-size: 20px;
    color: white;
}

.header_content p {
    font-size: 14px;
    color: #687794;
}
/* fine impostazioni Header_content */
/* fine impostazioni header */

/* Impostazioni prima sezione */
/* inizio generiche prima sezione */
.first_section {
    height: 226vh;
    width: 100%;
    overflow: hidden;
    background-color: #44414d;
}
/* fine generiche prima sezione */

/* inizio sottosezione uno */
.about_me {
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* inizio info aboutme_top */
.about_me_top {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.about_me_top h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.about_me_top p {
    color: #687794;
    margin-bottom: 10px;
}

.linea {
    width: 100px;
    border: 1px solid white;
    background-color: white;
    margin-left: 12%;
}
/* fine info aboutme_top */

/* inizio aboutme_bottom */
.about_me_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about_me_content {
    width: 30%;
    margin-left: 35px;
    color: #687794 ;
    text-align: start;
}
/* fine aboutme_bottom */
/* fine sottosezione uno */

/* inizio sottosezione due */
.about_work {
    height: 125vh;
    width: 117%;
    z-index: 1;
    margin-left: -8%;
    margin-bottom: -7%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    background: #191d26;
}

.about_work .container {
    height: 88%;
    transform: rotate(-3deg);
}
/* fine sottosezione due */

/* inizio sottosezione tre */
.work_prew_title {
    height: 56vh;
    width: 117%;
    z-index: 2;
    margin-left: -8%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background: #97c376;
}

.work_prew_title .container {
    transform: rotate(5deg);
    height: 65%;
}
/* fine sottosezione tre */
/* fine prima sezione*/

/* inizio seconda sezione */
/* inizio generiche seconda sezione */
.work_prew {
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* da cancellare */
    background-color: #97c376;
    /* da cancellare */
}
/* fine generiche seconda sezione */

/* inizio sottosezione uno */
.work_img {
    width: 100%;
    height: 285vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* impostazioni img_contianer */
.img_container {
    height: 95vh;
    width: 50%;
    /* da cancellare */
    background-color: white;
    /* da cancellare */
}
/* fine impostazioni img_contianer */
/* fine sottosezione uno */

/* inizio sottosezione due */
.button_container {
    width: 100%;
    height: 15vh;
}

.button_container a button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f9245c;
    color: white;
    font-size: 15px;
} 

.button_container a button:focus {
    outline: none;
}

.button_container a {
    color: white;
    text-decoration: none;
}
/* fine sottosezione due */
/* fine seconda sezione */

/* Inizio terza sezione */
.quotes {
    height: 80vh;
    width: 100%;
    background-color: lightgray;
}
/* fine terza sezione */

/* inizio quarta sezione */
/* inizio sottosezione uno */
.display_title {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.display_title:after {
    content: "";
    display: block;
    height: 420px;
    width:110%;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    margin-left: -4%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    background: #4c629e;
}
/* fine sottosezione uno */

/* inizio sottosezione due */
.display_advice {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #222229;
}

/* impostazioni contenitore advice */
.advice {
    height: 100%;
    width: 34%;
}
/* fine impostazione contenitore advice */
/* fine sottosezione due */
/* fine quarta sezione */

/* inizio quinta sezione */
.contact_us {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

/* inizio sottosezione uno */
.contact_form {
    height: 100px;
    width: 100px;
    background-color: grey;
}
/* fine sottosezione uno */
/* fine quinta sezione */

/* inizio impostazioni footer */
footer {
    height: 25vh;
    width: 100%;
    background-color: #191d26 ;
}
/* fine impostazioni footer */