* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generiche */
body {
    font-size: 14px;
    font-family: 'Commissioner', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* fine generiche */

/* Inizio Impostazioni Header */
/* impostazioi header generiche */
header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner_images);
    background-size: cover;
    background-repeat: no-repeat;
}
/* fine generiche */

/* Inizio impostazioni header_menu */
/* generiche header_menu */
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}
/* fine generiche */

/* impostazioni logo */
.logo {
    color: white;
    font-size: 18px;
}
/* fine impostazioni logo */

/* impostazioni menu */
.menu ul {
    list-style: none;
    color: white;
}

.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: white;
    text-decoration: none;
}
/* fine impostazioni menu */
/* fine impostazioni header_menu */

/* inizio impostazioni Header_content */
.header_content {
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_content h1 {
    font-size: 100px;
    color: #f9255b;
}

.header_content h4 {
    font-size: 20px;
    color: white;
}

.header_content p {
    font-size: 14px;
    color: #687794;
}
/* fine impostazioni Header_content */
/* fine impostazioni header */

/* Impostazioni prima sezione */
/* inizio generiche prima sezione */
.first_section {
    height: 226vh;
    width: 100%;
    overflow: hidden;
    background-color: #44414d;
}
/* fine generiche prima sezione */

/* inizio sottosezione uno */
.about_me {
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* inizio info aboutme_top */
.about_me_top {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.about_me_top h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.about_me_top p {
    color: #4e5b74;
    margin-bottom: 10px;
}

.linea {
    width: 100px;
    border: 1px solid white;
    background-color: white;
    margin-left: 12%;
}
/* fine info aboutme_top */

/* inizio aboutme_bottom */
.about_me_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about_me_content {
    width: 30%;
    margin-left: 35px;
    color: #687794 ;
    text-align: start;
}
/* fine aboutme_bottom */
/* fine sottosezione uno */

/* inizio sottosezione due */
.about_work {
    height: 125vh;
    width: 117%;
    z-index: 1;
    margin-left: -8%;
    margin-bottom: -7%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    background: #191d26;
}

.about_work .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88%;
    transform: rotate(-3deg);
}

.about_work_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 33vh;
    text-align: center;
}
.about_work_info h2 {
    color: white;
    font-size: 30px;
}
.about_work_info h4 {
    color: #4e5b74;
    font-size: 13px;
}
.about_work_info p {
    color: #687794;
    font-size: 12px;
}
.about_work_info .linea {
    margin-left: 0;
}

.about_work_icon {
    height: 40vh;
    width: 50%;
}

.about_work_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.circle_container {
    position: relative;
    border-radius: 50%;
    border: 6px solid #f9245b;
    padding: 23px;
}
.circle_container i {
    font-size: 55px;
    color: #687794;
}

.spaceone::after {
    content: "";
    position: absolute;
    height: 69%;
    width: 74%;
    border: 11px solid transparent;
    border-bottom-color: #191d26;
    top: -10px;
    left: -2%;
    border-radius: 50%;
    transform: rotate(158deg);
}

.spacetwo::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 8px solid transparent;
    border-bottom-color: #191d26;
    top: -7px;
    left: -7%;
    border-radius: 50%;
    transform: rotate(149deg);
}

.spacethree::after {
    content: "";
    position: absolute;
    height: 49%;
    width: 38%;
    border: 11px solid transparent;
    border-bottom-color: #191d26;
    top: -11px;
    left: 21%;
    border-radius: 50%;
    transform: rotate(182deg);
}
/* fine sottosezione due */

/* inizio sottosezione tre */
.work_prew_title {
    height: 56vh;
    width: 117%;
    z-index: 2;
    margin-left: -8%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background: #97c376;
}

.work_prew_title .container {
    transform: rotate(5deg);
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work_prew_title .container h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}
.work_prew_title .container h4 {
    color: white;
}
/* fine sottosezione tre */
/* fine prima sezione*/

/* inizio seconda sezione */
/* inizio generiche seconda sezione */
.work_prew {
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
/* fine generiche seconda sezione */

/* inizio sottosezione uno */
.work_img {
    width: 100%;
    height: 285vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* impostazioni img_contianer */
.img_container {
    position: relative;
    height: 95vh;
    width: 50%;
}
.work_img img {
    height: 100%;
    width: 100%;
}

.img_hover {
    display: none;
    position: absolute;
    height: 95vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    text-align: center;
    background-color: #f9245c;
}

.img_hover p {
    color: white;
    line-height: 95vh;
    font-size: 25px;
    opacity: 1;
}

.img_container:hover
.img_hover {
    display: block;
}
/* fine impostazioni img_contianer */
/* fine sottosezione uno */

/* inizio sottosezione due */
.button_container {
    width: 100%;
    height: 15vh;
}

.button_container a button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f9245c;
    color: white;
    font-size: 15px;
} 
.button_container a button:focus {
    outline: none;
}
.button_container a button:hover {
    background-color: white;
    color:#f9245c ;
}

.button_container a {
    color: white;
    text-decoration: none;
}
/* fine sottosezione due */
/* fine seconda sezione */

/* Inizio terza sezione */
.quotes {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/testimonial_bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}
.quotes .quotes_top h2 {
    color: #f9255b;
    font-size: 190px;
    height: 170px;
}
.quotes .quotes_top p {
    color: white;
    margin-bottom: 20px;
}
.quotes_top .strong {
    color: white;
    font-size: 15px;
}

.point_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5%;
}

.point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}

.point:last-child {
    background-color: transparent;
    border: 1px solid white;
}

.quotes_bottom {
    text-align: center;
    width: 50%;
    margin-bottom: 25px;
}
.quotes_bottom p{
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}


.company_folder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* fine terza sezione */

/* inizio quarta sezione */
/* inizio sottosezione uno */
.display_title {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #4c629e;
    color: white;
}

.display_title:after {
    content: "";
    display: block;
    height: 420px;
    width:110%;
    position: absolute;
    z-index: 1;
    bottom: 67%;
    margin-left: -4%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background: black;
}

.display_title h2 {
    font-size: 35px;
    margin: 140px 0 20px 0;
}
.display_title p {
    margin-bottom: 20px;
}

.display_title .linea {
    margin-left: 0;
}
/* fine sottosezione uno */

/* inizio sottosezione due */
.display_advice {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #222229;
}

/* impostazioni contenitore advice */
.advice {
    position: relative;
    height: 100%;
    width: 34%;
}

.adviceimg {
    height: 75%;
    width: 100%;
}

.adviceimg img {
    height: 100%;
    width: 100%;
}

.advice:hover
.advicehover {
    display: block;
}

.advicehover {
    display: none;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    text-align: center;
    background-color: #f9245c;
}
.advicehover p {
    color: white;
    line-height: 360px;
    font-size: 25px;
    opacity: 1;
}

.advice_bottom {
    height: 25%;
    width: 100%;
    padding: 10px;
    background-color: black;
}
.advice_bottom h4 {
    color: #f9245b;
    font-size: 20px;
    margin-bottom: 10px;
}
.advice_bottom p {
    color: #687794;
    font-size: 15px;
}
/* fine impostazione contenitore advice */
/* fine sottosezione due */
/* fine quarta sezione */

/* inizio quinta sezione */
.contact_us {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

/* inizio sottosezione uno */
.contactus_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact_us h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.contactus_info h4 {
    opacity: 0.9;
    color: #414141;
    margin-bottom: 20px;
}
.contactus_info .linea {
    margin-left: 0;
    margin-bottom: 25px;
    border-color: #414141;
    background-color: #414141;
}
.contactus_info p {
    width: 50%;
    margin-bottom: 35px;
}
/* fine sottosezione uno */

/* inizio sottosezione due */
.contact_form {
    height: 53vh;
    width: 50%;
}

.contact_form form {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact_form input {
    height: 58px;
    width: 100%;
    border: none;
    padding-left: 10px;
}
.contact_form input:focus {
    outline: none;
}

.contact_form .input_icon {
    position: absolute;
    right: 8px;
    top: 30px;
    color: #b0b0b0;
    font-size: 23px;
}

.contact_form a button{
    width: 100%;
    height: 58px;
    border: none;
    background-color: #f9245c;
    color: white;
    font-size: 15px;
} 
.contact_form a button:focus {
    outline: none;
}
.contact_form a button:hover {
    background-color: white;
    color:#f9245c ;
}

.contact_form a {
    width: 100%;
    color: white;
    text-decoration: none;
}
/* fine sottosezione due */
/* fine quinta sezione */

/* inizio impostazioni footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 100%;
    padding: 40px;
    background-color: #191d26 ;
}

.logo_footer {
    color: white;
}

.credits ul {
    list-style: none;
}

.credits ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #4e5b74;
}
.credits ul li:last-child {
    border-right: none;
}

.credits ul li a {
    color: #4e5b74;
    text-decoration: none;
}

.social_media ul {
    list-style: none;
}

.social_media ul li {
    display: inline-block;
    padding: 0 10px;
}

.social_media ul li a {
    color: white;
    text-decoration: none;
}
/* fine impostazioni footer */